* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.box {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.box .one {
  width: 150px;
  height: 80px;
  background: #f0f;
  align-self: stretch;
}

.box .two {
  width: 150px;
  height: 80px;
  background: #0ff;
  padding-top: 10px;
  align-self: stretch;
}

.box .three {
  width: 150px;
  height: 80px;
  background: #ff0;
  align-self: stretch;
}
