* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100px;
  background-color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

#wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#wrap .header {
  background-color: #ebf5ff;
  position: sticky;
  height: 1.46rem;
  top: -1px;
  padding-bottom: .1rem;
}

#wrap .header .title {
  position: relative;
  background-color: #fff;
  height: .5rem;
  line-height: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrap .header .title a {
  position: absolute;
  left: .15rem;
  top: 0;
  font-size: .3rem;
  color: #999;
}

#wrap .header .title h2 {
  text-align: center;
  font-size: .18rem;
  font-weight: 400;
}

#wrap .header .search-wrap-active {
  width: 100%;
  height: .6rem;
  overflow: hidden;
}

#wrap .header .search-wrap-active a {
  width: 100%;
  display: flex;
  margin-top: .12rem;
  margin-left: .10rem;
}

#wrap .header .search-wrap-active a .search {
  position: relative;
  width: 95%;
  height: .35rem;
  background-color: #fff;
  border: 1px solid #ff1395;
  border-radius: .2rem;
  display: flex;
  align-items: center;
}

#wrap .header .search-wrap-active a .search .iconfont {
  color: #999;
  margin: 0 .1rem;
}

#wrap .header .search-wrap-active a .search input {
  width: 70%;
  height: .35rem;
  border: 0;
  border-radius: .2rem;
  background-color: transparent;
  outline: none;
}

#wrap .header .search-wrap-active a .search button {
  position: absolute;
  right: .01rem;
  width: .7rem;
  font-size: .16rem;
  height: .3rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: .4rem;
  background-color: #ff1395;
  border-radius: .2rem;
  color: #fff;
  border: 0;
}

#wrap .header .characteristic-wrap {
  display: flex;
}

#wrap .header .characteristic-wrap .characteristic-one {
  display: flex;
  align-items: center;
  margin-left: .15rem;
}

#wrap .header .characteristic-wrap .characteristic-one li {
  font-size: .12rem;
  color: #1395ff;
  margin: 0 .05rem;
}

#wrap .header .characteristic-wrap .characteristic-one li.active {
  font-size: .2rem;
}

#wrap .header .characteristic-wrap span {
  margin: 0 .15rem;
  display: flex;
  align-items: center;
  color: #d4dcdf;
}

#wrap .header .characteristic-wrap .characteristic-two {
  display: flex;
  align-items: center;
}

#wrap .header .characteristic-wrap .characteristic-two li {
  font-size: .12rem;
  color: #333;
  margin: 0 .05rem;
}

#wrap .header .characteristic-wrap .characteristic-two li.active {
  font-size: .2rem;
}

#wrap .main {
  flex: 1;
  overflow: hidden;
}

#wrap .main .content nav {
  display: flex;
}

#wrap .main .content nav .lis-nav {
  width: 25%;
  background-color: #f8f8f8;
}

#wrap .main .content nav .lis-nav li {
  height: .6rem;
  line-height: .6rem;
  text-align: center;
}

#wrap .main .content nav .lis-nav .active {
  color: #ff1395;
  background-color: #fff;
}

#wrap .main .content nav .sub-menu {
  width: 80%;
}

#wrap .main .content nav .sub-menu .panel {
  flex-wrap: wrap;
  padding: .15rem;
  display: none;
}

#wrap .main .content nav .sub-menu .panel a {
  margin: .2rem .05rem .2rem .1rem;
  font-size: .16rem;
  color: #666;
}

#wrap .main .content nav .sub-menu .panel a dl {
  width: .8rem;
}

#wrap .main .content nav .sub-menu .panel a dl dt {
  width: .6rem;
  margin: auto;
}

#wrap .main .content nav .sub-menu .panel a dl dd {
  text-align: center;
  margin-top: .15rem;
}

#wrap .main .content nav .sub-menu .panel.active {
  display: block;
  display: flex;
  flex-wrap: wrap;
  padding: .1rem;
}

#wrap .main .content nav .sub-menu .panel.active a {
  margin: .2rem .05rem .2rem .1rem;
  font-size: .16rem;
  color: #666;
}

#wrap .main .content nav .sub-menu .panel.active a dl {
  width: .8rem;
}

#wrap .main .content nav .sub-menu .panel.active a dl dt {
  width: .6rem;
  margin: auto;
}

#wrap .main .content nav .sub-menu .panel.active a dl dd {
  text-align: center;
  margin-top: .15rem;
}

#wrap .footer {
  width: 100%;
}

#wrap .footer .footer-nav {
  width: 100%;
  z-index: 111;
  background-color: #fff;
  height: .6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#wrap .footer .footer-nav a dl dt {
  width: .4rem;
}

#wrap .footer .footer-nav a dl dd {
  color: #999;
  text-align: center;
}
