* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

#wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #EDEDED;
}

.back {
  width: 100%;
  height: 430px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#header {
  width: 100%;
  height: 44px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

#header .icon {
  display: flex;
  width: 88px;
  height: 32px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  border: 1px solid rgba(151, 151, 151, 0.2);
}

#header .icon div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .icon div img {
  width: 18px;
  height: 18px;
}

#header .icon div p {
  width: 1px;
  height: 19px;
  background: rgba(0, 0, 0, 0.2);
}

#header div {
  flex: 1;
}

#header div p {
  text-align: center;
  font-weight: 500;
  color: #323232;
  font-size: 18px;
}

#main {
  width: 100%;
  background-color: #fff;
}

#main .goods {
  margin-top: 10px;
}

#main .goods dt {
  width: 100%;
}

#main .goods dt img {
  width: 100%;
}

#main .goods dd {
  position: relative;
  padding: 6px 8px 12px 8px;
  border-radius: 0 0 8px 8px;
  height: 96px;
  background-color: #fff;
}

#main .goods dd li.point {
  font-weight: 500;
  color: #EE3344;
  font-size: 30px;
}

#main .goods dd li.point span {
  display: inline-block;
  font-size: 20px;
}

#main .goods dd li.price {
  font-weight: 400;
  color: #888888;
  font-size: 22px;
}

#main .goods dd li.content {
  font-weight: 400;
  color: #323232;
  font-size: 25px;
  line-height: 1.5;
}

#main .goods dd .num {
  position: absolute;
  right: 20px;
  top: 15px;
}

#main .goods dd .num input {
  width: 30px;
  outline: none;
  border: 0;
  font-size: 20px;
  color: #333;
}

#main .goods dd .num button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  border: 0;
  font-size: 30px;
  line-height: 30px;
  background-color: #fff;
}

#main .goods dd .num .reduce {
  border: 1px solid #EE3344;
  color: #EE3344;
}

#main .goods dd .num .add {
  background-color: #EE3344;
  color: #fff;
}

#main .confirm {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#main .confirm button {
  display: block;
  width: 150px;
  border-radius: 30px;
  line-height: 50px;
  border: 0;
  background-color: #EE3344;
  color: #fff;
  font-size: 20px;
}

.confirmContent {
  width: 100%;
  background-color: #fff;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.confirmContent .goods {
  position: relative;
}

.confirmContent .goods dl {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.confirmContent .goods dl dt img {
  width: 100%;
  height: 160px;
  border-radius: 8px 8px 0 0;
}

.confirmContent .goods dl dd {
  padding: 15px 8px 12px 8px;
  border-radius: 0 0 8px 8px;
  height: 96px;
  background-color: #fff;
}

.confirmContent .goods dl dd li.content {
  font-weight: 400;
  color: #323232;
  font-size: 14px;
  line-height: 1.5;
}

.confirmContent .goods dl dd li.price {
  font-weight: 400;
  color: #888888;
  font-size: 12px;
}

.confirmContent .goods dl dd li.point {
  font-weight: 500;
  color: #EE3344;
  font-size: 18px;
}

.confirmContent .goods dl dd li.point span {
  display: inline-block;
  font-size: 12px;
}

.confirmContent .goods button {
  position: absolute;
  right: 5px;
  top: 0px;
}

.confirmContent .shopNum {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.confirmContent .shopNum h3 {
  font-size: 20px;
}

.confirmContent .shopNum h3 span {
  color: gray;
  font-size: 20px;
}

.confirmContent .shopNum .num {
  display: flex;
  justify-content: space-between;
}

.confirmContent .shopNum .num button {
  width: 30px;
}

.confirmContent .shopNum .num input {
  width: 50px;
}

.confirmContent .confrim {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.confirmContent .confrim button {
  width: 343px;
  height: 50px;
  border-radius: 36px;
  border: 0;
  outline: none;
  background-color: #EE2233;
  color: #fff;
}

.block {
  display: block;
}
