* {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

#wrap .header {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-basis: 10%;
  background-color: #2edf8c;
}

#wrap .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80%;
  background-color: #00ffff;
}

#wrap .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  background-color: #2edf8c;
}
