* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  color: #333;
}

html {
  font-size: 100px;
}

#wrap {
  width: 100%;
  height: 100%;
}

#wrap .header {
  display: flex;
  height: .6rem;
}

#wrap .header .header-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#wrap .header .header-search .city img {
  width: 0.13rem;
}

#wrap .header .header-search .city a {
  font-size: .18rem;
  font-weight: 700;
  color: #333;
  max-width: .85rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 .05rem;
}

#wrap .header .header-search .search-strip {
  width: 2.9rem;
  height: .35rem;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: .05rem;
}

#wrap .header .header-search .search-strip img {
  width: .15rem;
  margin: 0 .1rem;
}

#wrap .header .header-search .search-strip a {
  color: #999;
}

#wrap .main {
  width: 100%;
  height: 100%;
}

#wrap .main .content {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

#wrap .main .content nav {
  width: 4rem;
  height: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
}

#wrap .main .content nav dl {
  flex: 1;
  margin: 0 .08rem;
}

#wrap .main .content nav dl dt {
  width: .66rem;
  height: .66rem;
}

#wrap .main .content nav dl dt img {
  width: 100%;
  border-radius: 100%;
}

#wrap .main .content nav dl dd {
  text-align: center;
}

#wrap .main .content nav .dot-wrapper {
  position: absolute;
  left: 45%;
  margin-top: 30%;
  width: .35rem;
  height: .03rem;
  background: #eee;
  border-radius: .1rem;
}

#wrap .main .content nav .dot {
  height: .03rem;
  width: .13rem;
  background: #eee;
  border-radius: .1rem;
  background-color: #f44;
  will-change: left;
}

#wrap .main .content .must-rob-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .15rem 0;
}

#wrap .main .content .must-rob-wrap .must-rob {
  width: .79rem;
  height: .16rem;
  padding-left: .2rem;
}

#wrap .main .content .must-rob-wrap .must-rob img {
  width: 100%;
  height: 100%;
}

#wrap .main .content .must-rob-wrap .more-must-rob {
  display: flex;
}

#wrap .main .content .must-rob-wrap .more-must-rob a {
  margin-right: .25rem;
  width: .81rem;
  height: .25rem;
  font-size: .12rem;
  background: #f5f5f5;
  border-radius: .12rem;
  text-align: center;
  line-height: .25rem;
}

#wrap .main .content .img-text {
  margin-right: .1rem;
  margin-left: .18rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#wrap .main .content .img-text dl {
  flex: 1;
}

#wrap .main .content .img-text dl dt {
  width: 1.21rem;
  height: 1.61rem;
}

#wrap .main .content .img-text dl dt img {
  width: 100%;
  height: 100%;
}

#wrap .main .content .img-text dl dd {
  margin-top: .2rem;
  width: 1.21rem;
}

#wrap .main .content .img-text dl dd p {
  font-weight: 700;
  color: #333;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

#wrap .main .content .focus-rotation-wrap {
  width: 100%;
  height: 100%;
  margin-top: .2rem;
  display: flex;
  justify-content: center;
}

#wrap .main .content .focus-rotation-wrap .focus-rotation {
  width: 3.82rem;
  height: .66rem;
}

#wrap .main .content .focus-rotation-wrap .focus-rotation a img {
  width: 100%;
  height: 100%;
  border-radius: .1rem;
}
