#demo {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  margin: 200px auto;
  perspective: 1000px;
}

#demo .cube {
  width: 300px;
  height: 300px;
  transition: all 2s linear;
  position: absolute;
  transform-style: preserve-3d;
}

#demo .cube.show-default {
  transform: rotateX(360deg) rotateY(-360deg);
}

#demo .cube-face {
  width: 300px;
  height: 300px;
  position: absolute;
  opacity: .7;
  backface-visibility: visible;
}

#demo .cube-face img {
  width: 100%;
  height: 100%;
}

#demo .cube .is-front {
  transform: translateZ(150px);
}

#demo .cube .is-after {
  transform: rotateX(-180deg) translateZ(150px);
}

#demo .cube .is-right {
  transform: rotateY(90deg) translateZ(150px);
}

#demo .cube .is-left {
  transform: rotateY(-90deg) translateZ(150px);
}

#demo .cube .is-top {
  transform: rotateX(90deg) translateZ(150px);
}

#demo .cube .is-bottom {
  transform: rotateX(-90deg) translateZ(150px);
}
